{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="file">File</label>
        <input type="file" name="file" />
        <input type="submit" value="process">
    </form>
{% endblock %}
